.movie-main-card{ 
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(15,4,143,0.7346288857339811) 100%, rgba(84,70,252,0.6225840678068102) 100%);
    margin: 10px;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
}
.image-continer{
    position: relative;
    width: 245px;
    height: 352px;
}
.movie-watch-and-btns{
    position: relative;
}
.movie-text-header{
    color: white;
    font-size: medium;
    position: absolute;
    bottom: 5%;
    left: 5px;
    width: 245px;
    background-color: rgba(255, 255, 255, .15);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.movie-image{
    position: relative;
    border-radius:5px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.btn-movies{
    position: relative;
    padding: 5px;

}
.btn-movies-actions{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    margin-top: 15px;
    border: none;
    background-color:#052e53;
    color: #b9bbd1;
    font-size: 15px;
    width: 110px;
    height: 30px;
    border-radius: 25px;
}
.btn-movies-actions:hover {
    background-color:#052e53;
    color: #b9bbd1;
    border: 1px solid white;
} 

