.main-subs-watch{
    color: hsla(0, 0%, 98%, 0.788);
    margin-top: 20px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 12px;
    min-height: 55px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    padding-bottom: 5px;
}
#sub-header{
    position: relative;
    text-align: center;
    color: black;
    left: 26%;
}